$fontSize: 16;
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);

.heading-1 {
  font-size: $fontSize * 2.5 + px;
  margin: 0 0 1rem 0;
}

.heading-2 {
  margin: 0;
}

.heading-3 {
  font-size: $fontSize + 2px;
  font-weight: bold;
  color: hsl(26, 100%, 55%);
  margin: 0;
}

.body-text {
  font-size: $fontSize + px;
  color: #C1C1C1;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img, button {
  cursor: pointer;
}

.App {
  font-family: 'Kumbh Sans', sans-serif;
  padding: 0 5rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  #top-menu {
    display: flex;
    height: 7rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;

    #logo-nav-container {
      display: flex;
      gap: 4rem;
      align-items: center;

      .menu-icon {
        display: none;
        z-index: 10000;
        width: 0.8rem;
      }

      #logo {
        height: $fontSize + 1px;
      }

      nav {
        display: flex;
        gap: 2 * $fontSize + px;
        align-items: center;

        .close-icon {
          display: none;
        }

        a {
          text-decoration: none;
          padding-block: 2.7rem;
        }

        a:hover {
          border-bottom: 4px solid $orange;
          border-top: 4px solid white;
          color: black;
        }
      }
    }

    #cart-avatar-container {
      display: flex;
      //height: 100%;
      gap: 3rem;
      align-items: center;

      #card-container {
        display: flex;

        #cart {
          height: $fontSize + 2px;
        }

        span {
          height: 0.8rem;
          position: relative;
          left: -0.6rem;
          top: -0.4rem;
          font-weight: bold;
          padding-inline: 0.375rem;
          font-size: 0.625rem;
          background-color: $orange;
          color: white;
          border-radius: 0.5rem;
        }
      }

      #avatar {
        width: 3rem;
        border-radius: 50%;
      }

      #avatar:hover {
        //border: 3px solid $orange;
        box-shadow: 0px 0px 0 2px $orange;
      }
    }

  }

  main {
    width: 100%;
    padding: 5rem 4rem 3rem 4rem;
    display: flex;
    justify-content: center;
    column-gap: 8rem;

    #product-images {
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3vh;
      justify-content: center;

      .previous-icon, .next-icon {
        display: none;
      }

      #product-img {
        width: 100%;
        border-radius: 1rem;
      }

      #thumbnails-container {
        display: flex;
        justify-content: space-between;

        .thumbnail {
          width: 22%;
          border-radius: 0.5rem;
        }

        .active {
          opacity: 0.5;
          box-shadow: 0 0 0 3px $orange;
        }

        .thumbnail:hover {
          opacity: 0.5;
        }
      }
    }

    #product-detail {
      width: 40%;
      gap: 1rem;
      padding-top: 1rem;
      justify-content: center;
      display: flex;
      flex-direction: column;

      #price-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        #price-discount {
          display: flex;
          align-items: center;
          gap: 1rem;

          #discount {
            color: $orange;
            background-color: $paleOrange;
            padding: 0.25rem 0.5rem 0.25rem 0.5rem;
            border-radius: 0.5rem;
            font-weight: bold;
          }
        }

        #old-price {
          text-decoration: line-through;
          font-weight: bold;
        }
      }

      #buttons-container {
        display: flex;
        gap: 1rem;

        #add-remove-item {
          display: flex;
          align-items: center;
          width: 33%;
          justify-content: space-between;
          padding: 0 0.5rem 0 0.5rem;
          background-color: #F7F8FD;
          border-radius: 0.5rem;

          img {
            width: 1rem;
            height: auto;
          }
        }

        button {
          display: flex;
          align-items: center;
          gap: 1rem;
          width: 66%;
          justify-content: center;
          border-radius: 0.5rem;
          border: none;
          background-color: $orange;
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  #cart-detail {
    position: absolute;
    display: none;
    right: 5rem;
    top: 6rem;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 0px 27px 8px rgba(0,0,0,0.3);
    min-width: 21em;
    border-radius: 0.5rem;

    .title {
      border-bottom: 1px solid gray;
      padding: 1rem;

      p {
        color: black;
        font-weight: bold;
        margin: 0;
      }
    }

    .detail-container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-height: 10em;
      justify-content: center;

      .detail {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .product-img {
          width: 3rem;
          border-radius: 0.3rem;
        }

        p {
          margin: 0;
        }

        .delete-icon {
          width: 0.8rem;
        }
      }

      p {
        text-align: center;
        font-weight: bold;
      }

      button {
        width: 100%;
        padding-block: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        background-color: $orange;
        color: white;
        font-weight: bold;
      }
    }
  }

}

.Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 34%;
  justify-content: center;
  gap: 1rem;

  .close-icon {
    align-self: flex-end;
    width: 1.5rem;
  }

  div.swiper {
    display: flex;
    align-items: center;
    justify-content: center;

    .previous-icon, .next-icon {
      padding-inline: 18px;
      padding-block: 15px;
      background-color: white;
      border-radius: 50%;
      z-index: 2;
    }

    .previous-icon {
      margin-right: -24px;
    }

    .next-icon {
      margin-left: -24px;
    }

    .product-img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  div.thumbnails-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;

    .thumbnail {
      width: 15%;
      border-radius: 0.5rem;
    }

    .active {
      opacity: 0.5;
      box-shadow: 0 0 0 3px $orange;
    }

    .thumbnail:hover {
      opacity: 0.5;
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0, 0, 0.7);
}

@media (max-width: 992px) {
  .App {
    padding-inline: 0;

    #top-menu {
      border-bottom: none;
      padding-inline: 1rem;
      z-index: 100;
      align-items: center;

      #logo-nav-container {
        gap: 1rem;

        .menu-icon {
          display: block;
        }

        nav {
          display: none;
          flex-direction: column;
          position: fixed;
          left: 0;
          top: 0;
          background-color: white;
          color: black;
          width: 70%;
          height: 100%;
          padding-top: 3rem;
          padding-left: 1rem;
          align-items: flex-start;

          a {
            padding: 0;
          }
        }
      }

      #cart-avatar-container {
        gap: 1rem;

        #avatar {
          width: 2rem;
        }
      }
    }

    main {
      flex-direction: column;
      padding: 0;

      #product-images {
        width: 100%;
        flex-direction: row;

        .previous-icon, .next-icon {
          padding-inline: 12px;
          padding-block: 9px;
          background-color: white;
          border-radius: 50%;
          z-index: 2;
          display: block;
        }

        .previous-icon {
          margin-right: -4.5rem;
        }

        .next-icon {
          margin-left: -4.5rem;
        }

        #product-img {
          width: 100%;
          height: 17em;
          object-fit: cover;
          border-radius: 0;
        }

        #thumbnails-container {
          display: none;
        }
      }

      #product-detail {
        width: 100%;
        padding-inline: 2rem;

        #price-container {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }

        #buttons-container {
          flex-direction: column;
          justify-content: center;

          #add-remove-item {
            width: 100%;
            padding-inline: 1rem;
          }

          button {
            width: 100%;
            padding-block: 1rem;
          }
        }
      }
    }

    #cart-detail {
      right: 1rem;
      left: 1rem;
    }
  }

  .Modal {
    display: none;
  }

  .Overlay {
    display: none;
  }
}
